<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Administracion de usuarios</title>
    
</head>
<body>

    <script type="text/javascript">
        $(document).ready(function () {
            var datatable = new DataTable('#tablaUsuarios');
        });

        function agregarUsuario() {
            document.location = "/Usuario/Add/";
        }

        function editarUsuario(idUsuario) {
            document.location = "/Usuario/Edit/" + idUsuario;
        }

        function borrarUsuario(idUsuario) {
            document.location = "/Usuario/Delete/" + idUsuario;
        }

    </script>

    <br/>

    <h1>Administracion de usuarios Index</h1>
    <br />
    <div class="row">
        <div class="col-md-9 bg-light text-right">

        </div>
        <div class="col-md-3 bg-light text-right">
            <input type="button" value="Agregar Usuario" onclick="agregarUsuario()" />
        </div>
    </div>
        <br />
        <br />

        <table id="tablaUsuarios" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Numero de Identificacion</th>
                    <th>Primer Nombre</th>
                    <th>Segundo Nombre</th>
                    <th>Primer Apellido</th>
                    <th>Segundo Apellido</th>
                    <th>Correo</th>
                    <th>Ubicacion</th>
                    <th>Status</th>
                    <th>Tipo Usuario</th>
                    <th>Controles</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var usuario in ViewData["catalogoUsuarios"] as List<ControlEscolar.Models.Usuario>)
                {
                    <tr>
                        <td>@usuario.ID</td>
                        <td>@usuario.NumeroIdentificacion</td>
                        <td>@usuario.PrimerNombre</td>
                        <td>@usuario.SegundoNombre</td>
                        <td>@usuario.PrimerApellido</td>
                        <td>@usuario.SegundoApellido</td>
                        <td>@usuario.Correo</td>
                        <td>@usuario.Ubicacion.Nombre</td>
                        <td>@usuario.Status.Nombre</td>
                        <td>@usuario.TipoUsuario.Nombre</td>
                        <td>
                            <input type="button" value="Editar" onclick="editarEstado('@usuario.ID')" />
                            <input type="button" value="Borrar" onclick="borrarEstado('@usuario.ID')" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    


</body>
</html>