@model ControlEscolar.Models.Pais

@{
    var pais = ViewData["pais"] as ControlEscolar.Models.Pais;
    //var allStatus = ViewData["catalogoStatuses"] as ControlEscolar.Models.Status;
}

<script type="text/javascript">
    
</script>
<h1>Agregar Pais</h1>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Editar Pais: @pais.ID</h4>

        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => pais.ID)

        <div class="form-group">
            @Html.LabelFor(model => pais.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => pais.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => pais.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Editar" class="btn-default"
            </div>
        </div>

    </div>

}