@model ControlEscolar.Models.Status

@{
    var status = ViewData["status"] as ControlEscolar.Models.Status;
    //var allStatus = ViewData["catalogoStatuses"] as ControlEscolar.Models.Status;
}

<script type="text/javascript">
    
</script>
<h1>Agregar Status</h1>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Agregar Status: </h4>

        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => status.ID)

        <div class="form-group">
            @Html.LabelFor(model => status.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => status.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => status.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Agregar" class="btn-default"
            </div>
        </div>

    </div>

}