@model ControlEscolar.Models.Localidad

@{
    var localidad = ViewData["localidad"] as ControlEscolar.Models.Localidad;
    //var allMunicipio = ViewData["catalogoMunicipioes"] as ControlEscolar.Models.Municipio;
}

<script type="text/javascript">
    function setMunicipio() {
        var idMunicipio = $('select[name="Municipio.ID"]').val();
        console.log("Municipio Seleccionado:" + idMunicipio);
        $("#localidad_IdMunicipio").val(idMunicipio);
    }

    
    $(document).ready(function () {
        var idMunicipio = $("#localidad_IdMunicipio").val();
        console.log("Modificando Municipio: " + idMunicipio);
        $('select[name="Municipio.ID"]').val(idMunicipio);
    });

</script>
<h1>Agregar Localidad</h1>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    <h4>Agregar Localidad: </h4>

    <hr />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => localidad.ID)

    <div class="form-group">
        @Html.LabelFor(model => localidad.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => localidad.Nombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => localidad.Nombre, "", new { @class = "text-danger" })
        </div>
    </div>

    <!--<div class="form-group">
        @Html.LabelFor(model => localidad.IdMunicipio, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => localidad.IdMunicipio, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => localidad.IdMunicipio, "", new { @class = "text-danger" })
        </div>
    </div>-->

    @Html.HiddenFor(model => localidad.IdMunicipio)

    <div class="form-group">
        @Html.LabelFor(model => localidad.Municipio, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Municipio.ID, ViewBag.municipios as SelectList, new { @class = "form-control" , @onChange = "setMunicipio()"} )
            @Html.ValidationMessageFor(model => localidad.IdMunicipio, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Agregar" class="btn-default"
        </div>
    </div>

</div>

}